{% extends "website/index.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'website/src/css/recipes.css' %}" />
    <script src="{% static 'website/src/js/recipes.js' %}"></script>
    <article id="momo">
        <div class="slider-wrapper" id="momo-slider">
            <div class="recipe-card ">
                <div class="website">
                    <div name="momo" class="nav-chevron left"></div>
                    <div name="momo" class="nav-chevron right"></div>
                </div>
                <div class="recipe-content ">
                    <div class="recipe-img salat momo_salat">
                        <div class="recipe-text">
                            <h1>Momo's Rezepte</h1>
                        </div>
                    </div>
                    <div class="content-wrapper momo">
                        <div class="recipe-head">
                            <h1>Frühstücks, Mittags, und Abendbrot Salat</h1>
                        </div>
                        <div class="recipe-description">
                            <h2>Beschreibung:</h2>
                            <p>
                                Dies ist ein Salat, der zu jeder Stunde gegessen werden kann. Wenn die Zubereitung zu lange dauert, dann muss man
                                nur laut
                                quiecken, und dann geht das ganz flott, von daher ist recht wenig Aufwand von nöten.
                            </p>
                        </div>
                        <div class="recipe-ingredients">
                            <h3>Zutaten:</h3>
                            <ul>
                                <li>Paprika, eine Schote</li>
                                <li>Roman Salat (kein Eisberg, der hat keine Nährstoffe)</li>
                                <li>Pro Schwein 2 Cherry Tomaten</li>
                                <li>Etwas Petersilie oder Karotte (aber nicht zu oft, weil uns das dick macht)</li>
                            </ul>
                        </div>
                        <div class="recipe-preparation">
                            <h3>Zubereitung:</h3>
                            <p>
                                Paprika, Salat und Petersilie / Karotte auf einem Brett schneiden, in ein Nudelsieb geben und abspühlen.
                                Anschließend in einem Napf kredenzen und mit Cherry Tomaten garnieren.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recipe-card ">
                <div class="website">
                    <div name="momo" class="nav-chevron left"></div>
                    <div name="momo" class="nav-chevron right"></div>
                </div>
                <div class="recipe-content">
                    <div class="recipe-img salat momo_kohlrabi">
                        <div class="recipe-text">
                            <h1>Momo Rezepte</h1>
                        </div>
                    </div>
                    <div class="content-wrapper momo">
                        <div class="recipe-head">
                            <h1>Kohlrabi Blätter</h1>
                        </div>
                        <div class="recipe-description">
                            <h2>Beschreibung:</h2>
                            <p>Ein einfaches und schnelles Gericht, das jedem im Gehege mundet.</p>
                        </div>
                        <div class="recipe-ingredients">
                            <h3>Zutaten:</h3>
                            <ul>
                                <li>Kohlrabi Blätter(kein Kohlrabi!)</li>
                            </ul>
                        </div>
                        <div class="recipe-preparation">
                            <h3>Zubereitung:</h3>
                            <p>Ganz laut quieken, bis die Blätter aus der Kaufhalle geliefert werden.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </article>

    <article id="bocchi">
        <div class="slider-wrapper" id="bocchi-slider">
            <div class="recipe-card ">
                <div class="website">
                    <div name="bocchi" class="nav-chevron left"></div>
                    <div name="bocchi" class="nav-chevron right"></div>
                </div>
                <div class="recipe-content">
                    <div class="recipe-img salat bocchi_heu">
                        <div class="recipe-text">
                            <h1>Bocchis's Rezepte</h1>
                        </div>
                    </div>
                    <div class="content-wrapper bocchi">
                        <div class="recipe-head">
                            <h1>Heu</h1>
                        </div>
                        <div class="recipe-description">
                            <h2>Beschreibung:</h2>
                            <p>
                                Dies ist eigentlich kein besonderes Rezept, aber ich verputze es dennoch sehr gerne. Es ist auch sehr wichtig und
                                gesund für meinen Magen und meine Zähne.
                            </p>
                        </div>
                        <div class="recipe-ingredients">
                            <h3>Zutaten:</h3>
                            <ul>
                                <li>Getrocknetes Gras</li>
                            </ul>
                        </div>
                        <div class="recipe-preparation">
                            <h3>Zubereitung:</h3>
                            <p>
                                Dazu gibt es eigentlich garnicht viel zu sagen, wenn Gras lange liegen bleibt, wird es zum leckeren Heu, das ist
                                wie
                                Käse.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recipe-card ">
                <div class="website">
                    <div name="bocchi" class="nav-chevron left"></div>
                    <div name="bocchi" class="nav-chevron right"></div>
                </div>
                <div class="recipe-content">
                    <div class="recipe-img salat bocchi_peaflake">
                        <div class="recipe-text">
                            <h1>Bocchis's Rezepte</h1>
                        </div>
                    </div>
                    <div class="content-wrapper bocchi">
                        <div class="recipe-head">
                            <h1>Peaflakes</h1>
                        </div>
                        <div class="recipe-description">
                            <h2>Beschreibung:</h2>
                            <p>
                                Erbsenchips, die köstlichste aller leckerein, man darf es aber nicht übertreiben, da sie dick machen. Darum
                                verbinde
                                ich das immer mit Sport und serviere sie auf einem Haus.
                            </p>
                        </div>
                        <div class="recipe-ingredients">
                            <h3>Zutaten:</h3>
                            <ul>
                                <li>Erbsen!</li>
                            </ul>
                        </div>
                        <div class="recipe-preparation">
                            <h3>Zubereitung:</h3>
                            <p>Erbsen müssen getrocknet werden und anschließend zu flocken zerkleinert.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article id="bertram">
        <div class="slider-wrapper" id="bertram-slider">
            <div class="recipe-card ">
                <div class="website">
                    <div name="bertram" class="nav-chevron left"></div>
                    <div name="bertram" class="nav-chevron right"></div>
                </div>
                <div class="recipe-content">
                    <div class="recipe-img salat bertram_gras">
                        <div class="recipe-text">
                            <h1>Betram's Rezepte</h1>
                        </div>
                    </div>
                    <div class="content-wrapper bertram">
                        <div class="recipe-head">
                            <h1>Wiese</h1>
                        </div>
                        <div class="recipe-description">
                            <h2>Beschreibung:</h2>
                            <p>
                                Leckers Grünzeug frisch von draußen, am besten zu genießen wenn es noch etwas feutch ist vom Regen (oder waschen).
                            </p>
                        </div>
                        <div class="recipe-ingredients">
                            <h3>Zutaten:</h3>
                            <ul>
                                <li>Gras</li>
                                <li>Löwenzahn</li>
                                <li>Butterblume</li>
                            </ul>
                        </div>
                        <div class="recipe-preparation">
                            <h3>Zubereitung:</h3>
                            <p>
                                Quieken bis dann endlich das Gras geliefert wird, wie das genau zubereitet wird kann ich garnicht sagen, ich bin
                                auch
                                nur ein Schwein.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recipe-card ">
                <div class="website">
                    <div name="bertram" class="nav-chevron left"></div>
                    <div name="bertram" class="nav-chevron right"></div>
                </div>
                <div class="recipe-content">
                    <div class="recipe-img salat bertram_löwenzahn">
                        <div class="recipe-text">
                            <h1>Betram's Rezepte</h1>
                        </div>
                    </div>
                    <div class="content-wrapper bertram">
                        <div class="recipe-head">
                            <h1>Löwenzahn</h1>
                        </div>
                        <div class="recipe-description">
                            <h2>Beschreibung:</h2>
                            <p>Eigentlich das selbe wie Wiese, aber ohne das nutzlose Gras und so, nur das leckere Zeug.</p>
                        </div>
                        <div class="recipe-ingredients">
                            <h3>Zutaten:</h3>
                            <ul>
                                <li>Löwenzahn</li>
                            </ul>
                        </div>
                        <div class="recipe-preparation">
                            <h3>Zubereitung:</h3>
                            <p>Selbiges wie beim Gras, aber sehr viel energischer Quieken.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <aside>
        <div class="chevron">
            <a href="#momo">M</a>
        </div>
        <div class="chevron">
            <a href="#bocchi">B</a>
        </div>
        <div class="chevron">
            <a href="#bertram">B</a>
        </div>
    </aside>
{% endblock content %}
