{% extends "website/index.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'website/src/css/sports.css' %}" />
    <article>
        <article>
            <div class="sport-card">
                <h1>Bocchis Zweibein-Stretch</h1>
                <p>
                    Bocchi zeigt, wie man ein elegantes Po Training durchfürhren kann. Ideal für Schweinchen mit Bewegungsdrang und Hunger.
                </p>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/_239NhSMGoo"
                            title="Bocchis Zweibein-Stretch"
                            frameborder="0"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="sport-card">
                <h1>Bocchis Untergrundgewusel</h1>
                <p>
                    Man verkriecht sich im Untergrund, und versucht soviel Chaos wie möglich zu stiften, sehr anstrengend und gefährlich!
                </p>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/JPdOXtiCqt8"
                            title="Bocchis Untergrundgewusel"
                            frameborder="0"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="sport-card">
                <h1>Betrams Sprung Lauf Übung</h1>
                <p>Schnell nach vorne Katapultieren, und dann loslaufen!</p>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/cH_TfWjwLiQ"
                            title="Betrams Sprung Lauf Übung"
                            frameborder="0"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="sport-card">
                <h1>Kombiniertes Betteln</h1>
                <p>Dies ist die Meister Sportart schlechthin, man braucht viel Gruppenkordination, wird aber oft entlohnt.</p>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/0inqrelflIg"
                            title="Kombiniertes Betteln"
                            frameborder="0"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="sport-card">
                <h1>Momos Strohkampf</h1>
                <p>Momo zeigt, wie man sich einem elenden Strohalm annimmt, nicht für anfänger gedacht!</p>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/pVpvC8GChu0"
                            title="Momos Strohkampf"
                            frameborder="0"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="sport-card">
                <h1>Bertrams Yoga</h1>
                <p>
                    Nach einem harten Tag auf Meerschweinchen Arbeit, kann man sich auch die Zeit mit Yoga vertreiben, das ist sehr entspanned.
                </p>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/43kvmDGuH2s"
                            title="Bertrams Yoga"
                            frameborder="0"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="sport-card">
                <h1>Bertrams Kletterkurs</h1>
                <p>
                    Hoch aufs Haus und wieder herunter! Wahrscheinlich funktioniert das auch woanders, aber dafür würde ich meine Pfote nicht ins
                    Feuer legen.
                </p>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/XxTJzAwennc"
                            title="Bertrams Kletterkurs"
                            frameborder="0"
                            allowfullscreen></iframe>
                </div>
            </div>
        </article>
    </article>
{% endblock content %}
