<div class="food-item">
    <div>{{ food_item.name }}</div>
    <div class="food-details">
        <div class="info-block">
            <span class="label">Kcal / 100g</span>
            <span class="value">{{ food_item.price_per_100g }}</span>
        </div>
        <div class="info-block">
            <span class="label">Protein / 100g</span>
            <span class="value">{{ food_item.protein_per_100g }}</span>
        </div>
        <div class="info-block">
            <span class="label">Fett / 100g</span>
            <span class="value">{{ food_item.fat_per_100g }}</span>
        </div>
        <div class="info-block">
            <span class="label">Carbs / 100g</span>
            <span class="value">{{ food_item.carbs_per_100g }}</span>
        </div>
        {% if amount == "1" %}
            <div class="info-block">
                <span class="label">Menge</span>
                <span class="value">{{ entry_item.amount_in_grams }}g</span>
            </div>
        {% endif %}
    </div>

    {% if add == "1" %}
        <div class="add-food-controls">
            <label class="amount-label" for="amount-{{ food_item.id }}">Menge (g):</label>
            <input name="amount" type="number" value="100" />
            <button hx-post="{% url 'guineapigfoodcontrol:add_foodentry' %}"
                    hx-vals='{"food_id": "{{ food_item.id }}"}'
                    hx-trigger="click"
                    hx-include="closest .add-food-controls"
                    hx-params="*"
                    hx-target="#foodContent"
                    hx-swap="outerHTML"
                    hx-on="htmx:configRequest: event.detail.parameters.date = document.querySelector('#selectedDateField').value;">
                +
            </button>
        </div>
    {% endif %}
</div>
