{% extends "navigation/index.html" %}
{% block content %}
    {% load static %}
    <script src="{% static 'foodplaner/src/js/calendar.js' %}"></script>
    <article>
        <!-- calendar-UI + htmx + Modal-Trigger -->
        {% comment %} hidden field for htmx access {% endcomment %}
        <input name="date"
               type="hidden"
               id="selectedDateField"
               value="{{ selected_date.year }}/{{ selected_date.month }}/{{ selected_date.day }}/" />
        {% include "foodplaner/modals/add_food_item_modal.html" with food_items=food_items only %}
        <div class="month-content">
            <button class="nav-arrow"
                    hx-get="{% url 'foodplaner:calendar_with_date' year=selected_date.year month=selected_date.month day=selected_date.day %}?shift=-1"
                    hx-target="#main"
                    hx-swap="innerHTML"
                    aria-label="Vorheriger Monat">←</button>
            <h1 class="center">{{ selected_date.month }}.{{ selected_date.year }}</h1>
            <button class="nav-arrow"
                    hx-get="{% url 'foodplaner:calendar_with_date' year=selected_date.year month=selected_date.month day=selected_date.day %}?shift=+1"
                    hx-target="#main"
                    hx-swap="innerHTML"
                    aria-label="Nächster Monat">→</button>
        </div>

        <div class="calendar-wrapper center">
            <div class="day-name">Mo</div>
            <div class="day-name">Di</div>
            <div class="day-name">Mi</div>
            <div class="day-name">Do</div>
            <div class="day-name">Fr</div>
            <div class="day-name saturday">Sa</div>
            <div class="day-name sunday">So</div>
            {% for week in weeks %}
                {% for day in week %}
                    <div class="day{% if day.weekday == 5 %} saturday {% elif day.weekday == 6 %} sunday {% else %} weekday {% endif %}"
                         onclick="handleCalendarClick(this, '{{ day.day }}','{{ day.month }}','{{ day.year }}')"
                         hx-get="{% url 'foodplaner:get_foodentry' %}"
                         hx-trigger="click"
                         hx-include="#selectedDateField"
                         hx-target="#foodContent"
                         hx-swap="outerHTML">
                        <input type="radio"
                               name="selected_day"
                               class="day-check"
                               id="{{ day.day }}.{{ day.month }}.{{ day.year }}"
                               {% if day == selected_date %}checked{% endif %} />
                        <label for="{{ day.day }}.{{ day.month }}.{{ day.year }}">{{ day.day }}</label>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </article>
    <article>
        <!-- Events-Panel / daylie consumption -->
        <div class="food-panel auto-open" id="foodPanel">
            <div class="drag-handle" id="dragHandle" onclick="toggleFoodPanel()"></div>
            <div class="food-content" id ="foodContent"></div>
        </div>
    </article>
    <article>
        <div class="food-panel-controls">
            <input type="text" placeholder="suche" oninput="searchFoodItems(this)" />
            {% comment %} <button class="open-modal-button" onclick="handleOpenModalBtnClick()">+</button> {% endcomment %}
            <button class="add-food-item-btn" onclick="handleOpenModalBtnClick()">+</button>
        </div>
    </article>
{% endblock content %}
