{% extends "navigation/index.html" %}
{% load static %}
{% block content %}
     <link rel="stylesheet"
           type="text/css"
           href="{% static 'navigation/src/css/image_galery.css' %}" />
     <script src="{% static 'navigation/src/js/image_galery.js' %}"></script>
     <article>
          <div id="modal" class="modal hidden" onclick="handleOverlayClick(event)">
               <div class="modal-content">
                    <span class="close-button"
                          id="closeModalBtn"
                          onclick="handleCloseModalBtnClick()">&times;</span>
                    <div id="modal-img"></div>
               </div>
          </div>
          <div class="image-wrapper" id="image-wrapper">
               <img src="{% static 'navigation/./src/img/20241206_122926.jpg' %}"
                    alt="20241206_122926.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/20241207_132342.jpg' %}"
                    alt="20241207_132342.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/20241213_090817.jpg' %}"
                    alt="20241213_090817.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/20241218_121740.jpg' %}"
                    alt="20241218_121740.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/20250125_065405.jpg' %}"
                    alt="20250125_065405.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/20250202_105934.jpg' %}"
                    alt="20250202_105934.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/20250215_081200.jpg' %}"
                    alt="20250215_081200.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/20250302_160010.jpg' %}"
                    alt="20250302_160010.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/20250319_143852.jpg' %}"
                    alt="20250319_143852.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/20250324_075115.jpg' %}"
                    alt="20250324_075115.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/20250413_200737.jpg' %}"
                    alt="20250413_200737.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/20250416_184634.jpg' %}"
                    alt="20250416_184634.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/20250418_193400.jpg' %}"
                    alt="20250418_193400.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_.jpg' %}"
                    alt="IMG_.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20230705_082045.jpg' %}"
                    alt="IMG_20230705_082045.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20230707_195932.jpg' %}"
                    alt="IMG_20230707_195932.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20230919_104533.jpg' %}"
                    alt="IMG_20230919_104533.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20231129_072307.jpg' %}"
                    alt="IMG_20231129_072307.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20231129_072311.jpg' %}"
                    alt="IMG_20231129_072311.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20231208_032924.jpg' %}"
                    alt="IMG_20231208_032924.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20231216_143508.jpg' %}"
                    alt="IMG_20231216_143508.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240130_125825.jpg' %}"
                    alt="IMG_20240130_125825.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240203_094815.jpg' %}"
                    alt="IMG_20240203_094815.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240203_094910.jpg' %}"
                    alt="IMG_20240203_094910.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240203_095005.jpg' %}"
                    alt="IMG_20240203_095005.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240210_083159.jpg' %}"
                    alt="IMG_20240210_083159.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240211_092548.jpg' %}"
                    alt="IMG_20240211_092548.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240313_105719.jpg' %}"
                    alt="IMG_20240313_105719.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240313_120305.jpg' %}"
                    alt="IMG_20240313_120305.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240313_163251.jpg' %}"
                    alt="IMG_20240313_163251.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240313_163308.jpg' %}"
                    alt="IMG_20240313_163308.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240324_090031.jpg' %}"
                    alt="IMG_20240324_090031.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240327_075256.jpg' %}"
                    alt="IMG_20240327_075256.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240413_111841.jpg' %}"
                    alt="IMG_20240413_111841.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240413_112346.jpg' %}"
                    alt="IMG_20240413_112346.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240425_135054.jpg' %}"
                    alt="IMG_20240425_135054.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240426_072322.jpg' %}"
                    alt="IMG_20240426_072322.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240504_060426.jpg' %}"
                    alt="IMG_20240504_060426.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240504_060604.jpg' %}"
                    alt="IMG_20240504_060604.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240517_054758.jpg' %}"
                    alt="IMG_20240517_054758.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240519_091456.jpg' %}"
                    alt="IMG_20240519_091456.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240524_053303.jpg' %}"
                    alt="IMG_20240524_053303.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240524_134404.jpg' %}"
                    alt="IMG_20240524_134404.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240524_155442.jpg' %}"
                    alt="IMG_20240524_155442.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240610_185838.jpg' %}"
                    alt="IMG_20240610_185838.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240611_080228.jpg' %}"
                    alt="IMG_20240611_080228.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240704_060151.jpg' %}"
                    alt="IMG_20240704_060151.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240707_131155.jpg' %}"
                    alt="IMG_20240707_131155.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240707_131228.jpg' %}"
                    alt="IMG_20240707_131228.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240725_204152.jpg' %}"
                    alt="IMG_20240725_204152.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240725_204202.jpg' %}"
                    alt="IMG_20240725_204202.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240727_060934.jpg' %}"
                    alt="IMG_20240727_060934.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240727_074953.jpg' %}"
                    alt="IMG_20240727_074953.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240809_105737.jpg' %}"
                    alt="IMG_20240809_105737.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240809_105745.jpg' %}"
                    alt="IMG_20240809_105745.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20240817_082108.jpg' %}"
                    alt="IMG_20240817_082108.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20241020_171413.jpg' %}"
                    alt="IMG_20241020_171413.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/IMG_20241027_125429.jpg' %}"
                    alt="IMG_20241027_125429.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/bertram_about_us.jpg' %}"
                    alt="bertram_about_us.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/bertram_gras_löwenzahn_rezept.jpg' %}"
                    alt="bertram_gras_löwenzahn_rezept.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/bertram_gras_rezept.jpg' %}"
                    alt="bertram_gras_rezept.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/bertram_sack.jpg' %}"
                    alt="bertram_sack.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/bertram_wiese.jpg' %}"
                    alt="bertram_wiese.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/bocchi.jpg' %}"
                    alt="bocchi.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/bocchi_about_us.jpg' %}"
                    alt="bocchi_about_us.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/bocchi_erbenchips_rezept.jpg' %}"
                    alt="bocchi_erbenchips_rezept.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/bocchi_heu_rezept.jpg' %}"
                    alt="bocchi_heu_rezept.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/bocchi_rezept.jpg' %}"
                    alt="bocchi_rezept.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/bocchi_sack.jpg' %}"
                    alt="bocchi_sack.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/hero-image.jpg' %}"
                    alt="hero-image.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/momo_about_us.jpg' %}"
                    alt="momo_about_us.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/momo_betteln.jpg' %}"
                    alt="momo_betteln.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/momo_kohlrabi_rezept.jpg' %}"
                    alt="momo_kohlrabi_rezept.jpg"
                    onclick="handleImageClick(this)" />
               <img src="{% static 'navigation/./src/img/momo_salat_rezept.jpg' %}"
                    alt="momo_salat_rezept.jpg"
                    onclick="handleImageClick(this)" />
          </div>
     </article>
{% endblock content %}
